<section>
  <h1>About Me</h1>
  <p>Il <b>TechLab</b> è un laboratorio di prototipazione rapida creato grazie ai fondi della <a href="http://www.provincia.torino.gov.it/">Provincia di Torino</a>, alla collaborazione del <a href="http://www.comune.chieri.to.it/home">Comune di Chieri</a> e del <a href="http://www.provincia.torino.gov.it/solidarietasociale/giovani/progetti">PLG</a>, a <a href="http://goo.gl/maps/XLsni">Chieri</a>.</p>
  <p>In questo blog raccogliamo spunti, idee, pensieri sull'attivit&agrave; che svolgiamo, su quello che pensiamo e sogniamo.</p>
</section>
